html,
body, * {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  background-color: #222222;
  color: white;
}

body{
  min-width: 900px;
}

::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

/*----------------------------------------------------------------------*/
/*------------------------------- NAVBAR -------------------------------*/
/*----------------------------------------------------------------------*/

.navbar-container{
  display: flex;
  justify-content: space-between;
  position: relative;
  height:100px;
  background-color: #222222;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
  box-shadow: 2px 2px 10px #000000;
}

.logo-container{
  background-color: transparent;
  display: flex;
  font-size: 96px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  margin-left: 74px;
  margin-top: -25px;
}

.left-logo{
  background-color: transparent;
  color: #ed4444;
}

.right-logo{
  color: #eddc44;
  background-color: transparent;
  margin-left: -0.66em;
}

.menu-container-container{
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
}

.menu-container{
  /*margin-right: 35%;*/
  background-color: transparent;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-top: 25px;
  width:700px;
  display: flex;
  justify-content: space-around;
  align-self: center;
}


.link1{
  background-color: transparent;
  margin-top: 0px;
  transition: 0.2s;
  height: min-content;
  animation: link-appear1 0.5s ease-out 0s;
}  
.link2{
  background-color: transparent;
  margin-top: 0px;
  transition: 0.2s;
  height: min-content;
  animation: link-appear2 0.6s ease-out 0s;
}
.link3{
  background-color: transparent;
  margin-top: 0px;
  transition: 0.2s;
  height: min-content;
  animation: link-appear3 0.7s ease-out 0s;
}
.link4{
  background-color: transparent;
  margin-top: 0px;
  transition: 0.2s;
  height: min-content;
  animation: link-appear4 0.8s ease-out 0s;
}

@keyframes link-appear1 {
  0%{
    margin-top:-100px
  }
  100%{
    margin-top:0px;
  }
}
@keyframes link-appear2 {
  0%{
    margin-top:-100px
  }
  17%{
    margin-top:-100px
  }
  100%{
    margin-top:0px;
  }
}
@keyframes link-appear3 {
  0%{
    margin-top:-100px
  }
  28.5%{
    margin-top:-100px
  }
  100%{
    margin-top:0px;
  }
}
@keyframes link-appear4 {
  0%{
    margin-top:-100px
  }
  37.5%{
    margin-top:-100px
  }
  100%{
    margin-top:0px;
  }
}


.link1:hover{

  border-bottom: 4px solid #eddc44;
  margin-top: -10px;
}
.link2:hover{

  border-bottom: 4px solid #eddc44;
  margin-top: -10px;
}
.link3:hover{

  border-bottom: 4px solid #eddc44;
  margin-top: -10px;
}
.link4:hover{

  border-bottom: 4px solid #eddc44;
  margin-top: -10px;
}

/*--------------------------------------------------------------------*/
/*------------------------------- HOME -------------------------------*/
/*--------------------------------------------------------------------*/


.home-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.home-text-contact-container{
  width: 50%;
  margin-top:200px;
  margin-left: 10%;
}

.home-text-container{
  font-weight: 400;
  font-size: 74px;
}

.home-hello-world{
  font-family: 'Nunito', sans-serif;
}

.typing-home-hello-world{
  width:7em;
  animation: typing 0.7s steps(14), blinkTextCursor .5s step-end 2 normal;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid transparent;
}

@keyframes typing {
  from {
    width: 1em
  }
}
    
@keyframes blink {
  50% {
    border-color: rgba(255, 255, 255, 1)
  }
}

@keyframes blinkTextCursor{
	from{
		border-right-color: rgba(255, 255, 255, 1);
	}
	to{
		border-right-color: transparent;
	}
}
@keyframes typing2 {
  from {
    width: 1em
  }
  65%{
    width: 1em;
  }
}
@keyframes blinkTextCursor2{
	0%{
    border-right-color: transparent;
		
	}
  50%{
    border-right-color: transparent;
  }
	100%{
		border-right-color: rgba(255, 255, 255, 1);
	}
}


.typing-home-name{
  width:7em;
  animation: blinkTextCursor2 2s 0.2s, typing2 2s steps(14);
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid transparent;
}

.home-name{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  color: #eddc44;
}

.home-right-logo{
  background-color: transparent;
  margin-left: -212px;
  color: #eddc44;
}

.home-left-logo{
  color: #ed4444;
  padding-left: 135px;
}

.home-title{
  font-family: 'Nunito', sans-serif;
  user-select: none;
}


@keyframes typingType {
  0% {
    width: 1em
  }
  3% {
    width: 9.2em;
  }
  30%{
    width: 9.2em;
  }
  33%{
    width: 1em;
  }
  33% {
    width: 1em
  }
  36% {
    width: 7.3em;
  }
  63%{
    width: 7.3em;
  }
  66%{
    width: 1em;
  }
  66% {
    width: 1em
  }
  69% {
    width: 10em;
  }
  97%{
    width: 10em;
  }
  100%{
    width: 1em;
  }
}

.typing-home-title{
  display: table;
  border-right: 3px solid transparent;
  /*animation: typingType 7s steps(17) infinite forwards 2.6s, blink .5s 17 alternate 2.6s;*/
}

.titles-home-container{
  list-style: none;
  width: 1em;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid transparent;
  animation: typingType 15s steps(45) infinite forwards 2.6s, blink .5s step-end infinite alternate 2.6s;
}

@keyframes display-software-engineer {
  0%{
    color: white;
  }
  32.9%{
    color: white;
  }
  33%{
    color: transparent;
  }
  100%{
    color: transparent;
  }
}

.software-engineer-home{
  display: inline;
  user-select: none;
}

.software-engineer-home span{
  color: transparent;
  animation: display-software-engineer 15s infinite forwards 2.6s;
  user-select: none;
}

@keyframes display-data-scientist {
  0%{
    color: transparent;
  }
  32.9%{
    color: transparent;
  }
  33%{
    color: white;
  }
  65.9%{
    color: white;
  }
  66%{
    color: transparent;
  }
  100%{
    color: transparent;
  }
}

.data-scientist-home{
  display: inline;
  margin-left: -8.3em;
  background-color: transparent;
  user-select: none;
}

.data-scientist-home span{
  background-color: transparent;
  color: transparent;
  animation: display-data-scientist 15s infinite forwards 2.6s;
  user-select: none;
}


@keyframes display-full-stack {
  0%{
    color: transparent;
  }
  65.9%{
    color: transparent;
  }
  66%{
    color: white;
  }
  100%{
    color: white;
  }
}


.full-stack-home{
  display: inline;
  margin-left: -6.3em;
  background-color: transparent;
  user-select: none;
}

.full-stack-home span{
  background-color: transparent;
  color: transparent;
  animation: display-full-stack 15s infinite forwards 2.6s;
  user-select: none;
}




.home-link-contact-container{
  margin-top: 100px;
}
.home-contact-container{
  margin-left: 15%;
  width: max-content;
  height: max-content;
}

.button {
  display: inline-block;
  text-decoration: none;
  position: relative;
  margin-top: 40px;
  background-color: transparent;
}

.button .bottom {
  position: absolute;
  right: 7px;
  top: 7px;
  width: 100%;
  height: 100%;
  background-color: #eddc44;
  display: block;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

.button .top {
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 24px 34px 22px 34px;
  border: 3px solid #000000;
  background-color: transparent;
}

.button-dark .top {
  border: 2px solid #fff;
}

.button .top .label {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 22px;
  line-height: 110%;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
  background-color: transparent;
}

.button-dark .top .label {
  color: #fff;
}

.button:hover .bottom {
  right: 0;
  top: 0;
  background-color: #222222;
}

.button:hover .top .label {
  color: #eddc44;
}

.button-border {
  position: absolute;
  background-color: #eddc44;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.button:hover .top .button-border-left,.button:hover .top .button-border-right {
  height: calc(100% + 2px);
}

.button:hover .top .button-border-top,.button:hover .top .button-border-bottom {
  width: calc(100% + 2px);
}

.button-border-left {
  left: -2px;
  bottom: -2px;
  width: 2px;
  height: 0;
}

.button-border-top {
  left: -2px;
  top: -2px;
  width: 0;
  height: 2px;
}

.button-border-right {
  right: -2px;
  top: -2px;
  width: 2px;
  height: 0;
}

.button-border-bottom {
  right: -2px;
  bottom: -2px;
  width: 0;
  height: 2px;
}


 .home-image-container {
  width: fit-content;
  height: fit-content;
  margin-top: 170px;
  margin-right: 10%;
	--angle: 0deg;
	border: 20px solid;
	border-image: conic-gradient(from var(--angle), #222222 0deg, #222222 79.99deg, #ed4444 80deg, #ed4444 170deg, #222222 170.1deg, #222222 259.9deg, #eddc44 260deg, #eddc44 350deg, #222222 350.1deg) 1;
	
	animation: 1s rotate linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -2s);
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@media screen and (max-width:1650px) and (min-width:1550px) {
  .home-text-contact-container{
    margin-left: 7%;
  }
  .home-image-container{
    margin-right:7%;
  }
  
}

@media screen and (max-width:1550px) and (min-width:1350px) {
  .home-text-contact-container{
    margin-left: 3%;
  }
  .home-image-container{
    margin-right:3%;
  }
  
}

@media screen and (max-width:1450px) and (min-width:1350px) {
  .home-text-contact-container{
    margin-left: 0%;
  }
  .home-image-container{
    margin-right:0%;
  }
  
}

@media screen and (max-width:1350px) and (min-width:1250px) {
  .home-text-contact-container{
    margin-left: 0%;
  }
  .home-image-container{
    margin-right:0%;
  }
  .home-image-container{
    width: 450px;
    height: 450px;
  }
  
}

@media screen and (max-width:1250px) and (min-width:1150px) {
  .home-text-contact-container{
    margin-left: 0%;
  }
  .home-image-container{
    margin-right:0%;
  }
  .home-image-container{
    width: 350px;
    height: 350px;
  }
  
}

@media screen and (max-width:1150px) and (min-width:950px) {
  .home-text-contact-container{
    margin-left: 0%;
  }
  .home-image-container{
    margin-right:0%;
  }
  .home-image-container{
    width: 350px;
    height: 350px;
  }
  .home-text-container{
    font-weight: 400;
    font-size: 55px;
  }
  @keyframes typingType {
    0% {
      width: 1em
    }
    3% {
      width: 9.5em;
    }
    30%{
      width: 9.5em;
    }
    33%{
      width: 1em;
    }
    33% {
      width: 1em
    }
    36% {
      width: 7.4em;
    }
    63%{
      width: 7.4em;
    }
    66%{
      width: 1em;
    }
    66% {
      width: 1em
    }
    69% {
      width: 10.5em;
    }
    97%{
      width: 10.5em;
    }
    100%{
      width: 1em;
    }
  }

  .home-right-logo{
    margin-left: -167px;
  }
  
  .home-left-logo{
    padding-left: 113px;
  }
  
}


@media screen and (max-width:950px) {
  
  .home-container{
    display: flex;
    flex-direction: column;
  }

  .home-image-container{
    align-self: center;
    margin-right: 0;
    margin-top: 100px;
  }
  .home-contact-container{
    margin-left: 50%;
  }
  .home-image-container{
    width: 550px;
    height: 550px;
  }

  .home-text-contact-container{
    margin-top:150px;
  }

  .home-link-contact-container{
    margin-top: 50px;
  }
  
}

/*---------------------------------------------------------------------*/
/*------------------------------- ABOUT -------------------------------*/
/*---------------------------------------------------------------------*/

.about-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 100px;
}

.about-title-presentation-container{
  width: 50%;
  display: flex;
  flex-direction: column;

}

@keyframes move-about-left-right {
  0%{
    margin-left:-100px;
  }
  100%{
    margin-left:5000px;
  }
}

.about-outline{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 120px;
  font-weight: 900;
  margin-left: 0px;
  margin-top: 75px;
  margin-bottom: -75px;
  color: #222222;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: -2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, 2px 2px 0 #ffffff;
  animation: move-about-left-right 0.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.1s);
}


.about-title{
  align-self: center;
  font-size: 60px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  background-color: transparent;
  width: 1em;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid transparent;
  animation: blink .5s step-end infinite alternate 0s;
}

@media (prefers-reduced-motion: no-preference) {
  .about-title {
    transition: width 2s ease;
  }
}

.about-title-transition{
  width: 14.3em;
}

.about-left-name{
  color: #ed4444;
  padding-left: 235px;
  background-color: transparent;
}

.about-right-name{
  color: #eddc44;
  background-color: transparent;
  
}

.about-right-full-name{
  background-color: transparent;
  margin-left: -275px;
}

.about-presentation{
  background-color: transparent;
  align-self: center;
  width: 70%;
  color: #a1a1a1;
  font-size: 30px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  margin-top: 40px;
}

.about-presentation p{
  background-color: transparent;
  color: #a1a1a1;
  font-size: 30px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  margin-top: 30px;
}

.about-presentation-link{
  background-color: transparent;
  color: #eddc44;
  font-size: 36px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  margin-top: 30px;
}

.about-socials-container{
  background-color: transparent;
  align-self: center;
  width: 350px;
  height: 140px;
  display: flex;
  justify-content: space-around;
}

.about-icon{
  background-color: transparent;
  align-self: center;
  height: 60px;
  width: 60px;
  transition: 1s;
}

.about-icon:hover{
  height: 100px;
  width: 100px;
  transform: rotate(360deg);
}

.about-timeline-desc-container{
  background-color: transparent;
  width: 50%;
  
}


@keyframes move-timeline {
  0%{
    margin-top:400px
  }
  100%{
    margin-top: -3000px;
  }
}

.rb-container {
  background-color: transparent;
  font-family: 'Nunito', sans-serif;
  width: 100%;
  margin: auto;
  display: block;
  position: relative;
  animation: move-timeline 0.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.2s);
}

.rb-container ul.rb {
  background-color: transparent;
  margin: 2.5em 0;
  padding: 0;
  display: inline-block;
}

.rb-container ul.rb li {
  list-style: none;
  margin: auto;
  margin-left: 10em;
  min-height: 200px;
  border-left: 6px solid #a1a1a1;
  padding: 0 0 50px 30px;
  position: relative;
  background-color: transparent;
}

.rb-container ul.rb li:last-child {
  background-color: transparent;
  border-left: 0;
  left: 5px
}

.rb-container ul.rb li::before {
  position: absolute;
  left: -20px;
  top: -5px;
  content: " ";
  border: 1px solid #a1a1a1;
  border-radius: 500%;
  background: #a1a1a1;
  height: 33px;
  width: 33px;
  transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
  background: #eddc44;
  border-radius: 0%;
  transform: rotate(45deg);
  transition: border-radius 200ms ease-out, transform 500ms ease-in-out;
}

ul.rb li .timestamp {
  background-color: transparent;
  color: #eddc44;
  position: relative;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 75%;
  font-size: 25px;
  font-weight: 600;
  border-left: 0px solid transparent;
}

ul.rb li:hover .timestamp{
  background-color: transparent;
  border-left: 20px solid transparent;
  transition: all 500ms ease-in-out
}

.item-title {
  background-color: transparent;
  width: 87%;
  color: transparent;
  font-size: 25px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  border-left: 0px solid transparent;
}

ul.rb li:hover .item-title{
  background-color: transparent;
  color: #a1a1a1;
  border-left: 20px solid transparent;
  transition: all 500ms ease-in-out
}
.about-timeline-desc-container{
  background-color: transparent;
}
.about-timeline{
  background-color: transparent;
}

@media screen and (max-width:1600px) and (min-width:950px) {
  .item-title {
    font-size: 20px;
  }

  ul.rb li .timestamp{
    font-size: 20px;
  }

  .about-title{
    font-size: 50px;
  }

  .about-left-name{
    padding-left: 190px;
  }
  
  
  .about-right-full-name{
    margin-left: -229px;
  }
  @keyframes move-about-left-right {
    0%{
      margin-left:-50px;
    }
    100%{
      margin-left:5500px;
    }
  }
}


@media screen and (max-width:950px) {
  .about-container{
    display: flex;
    flex-direction: column;
  }

  .about-title-presentation-container{
    width: 100%;
    display: flex;
    flex-direction: column;
  
  }
  .about-title{
    font-size: 50px;
  }

  .about-left-name{
    padding-left: 190px;
  }

  .about-timeline-desc-container{
    width: 100%;
    background-color: transparent;
  }
  
  
  .about-right-full-name{
    margin-left: -229px;
  }

  ul.rb li .timestamp {
    width: 100%;
  }

  .item-title {
    width: 87%;
  }

  @keyframes move-timeline {
    0%{
      margin-top:100px
    }
    100%{
      margin-top: -100px;
    }
  }

  @keyframes move-about-left-right {
    0%{
      margin-left:-100px;
    }
    100%{
      margin-left:400%;
    }
  }
}


/*----------------------------------------------------------------------*/
/*------------------------------- SKILLS -------------------------------*/
/*----------------------------------------------------------------------*/

.skills-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 250px;
  background-color: transparent;
}

@keyframes move-skills-catagories-container {
  0%{
    margin-top:600px
  }
  100%{
    margin-top: -1200px;
  }
}

.skills-categories-container{
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  animation: move-skills-catagories-container 0.4s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.2s);
  background-color: transparent;
}

.skills-title-skill-map-container{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-category-item{
  width: 500px;
  background-color: #363636;
  border-radius: 6px;
  margin-bottom: 30px;
  height: 5.5em;
  overflow: hidden;
  transition: 1s;
}

.skills-category-backend:hover{
  height: 23.5em;
}

.skills-category-datascience:hover{
  height: 25em;
}
.skills-category-web:hover{
  height: 28.5em;
}


.skills-category-title{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 36px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.skills-category-title span{
  background-color: transparent;
  margin-left: 30px;
}



.skills-category-content{
  background-color: transparent;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 24px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 50;
}

.skills-category-learnMore{
  background-color: transparent;
  font-size: 30px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: #eddc44;
  margin-top: 20px;
  padding-bottom: 20px;
  margin-left: 65%;
  width: fit-content;
  cursor: pointer;
}

.skills-title-skill-map-container{
  background-color: transparent;
}

.skills-title{
  background-color: transparent;
  font-size: 55px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  width: 1em;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid transparent;
  animation: blink .5s step-end infinite alternate 0s;
}


@media (prefers-reduced-motion: no-preference) {
  .skills-title {
    transition: width 2s ease;
  }
}

.skills-title-transition{
  width: 18.3em;
}

.skills-skill-map{
  display: flex;
  flex-direction: row;
  font-size: 30px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 7%;
  margin-top: 100px;
  width: 1160px;
}

@keyframes skills-button-click {
  0%{
    box-shadow: 0 21px #6b6b6b;
    transform: translateY(0px);
  }
  50%{
    box-shadow: 0 8px #6b6b6b;
    transform: translateY(13px);
  }
  100%{
    box-shadow: 0 21px #6b6b6b;
    transform: translateY(0px);
  }
}

.skill-button{
  margin-left: 0.7em;
  margin-top: 1em;
  font-size: 27px;
  font-weight: 500;
  width: 180px;
  height: 78px;
  text-align: center;
  cursor: pointer;
  background-color: #363636;
  border-radius: 9px;
  box-shadow: 0 21px #6b6b6b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  animation: None;
}

.skill-button-active{
  margin-left: 0.7em;
  margin-top: 1em;
  font-size: 27px;
  font-weight: 500;
  width: 180px;
  height: 78px;
  text-align: center;
  cursor: pointer;
  background-color: #363636;
  border-radius: 9px;
  box-shadow: 0 8px #eddc44;
  transform: translateY(13px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  animation: None;
}

.skill-button:active{
  box-shadow: 0 8px #eddc44;
  transform: translateY(13px);
}

.first-in-row1{
  margin-left: 0.9em;
}

.first-in-row2{
  margin-left: -0.7em;
}

.space-button{
  width: 500px;
}

.skills-logo{
  width: 90px;
  margin-top: 1em;
  font-size: 27px;
  font-weight: 500;
  height: 78px;
  text-align: center;
  cursor: pointer;
  background-color: #363636;
  border-radius: 9px;
  box-shadow: 0 21px #6b6b6b;
}

.skills-logo:active{
  box-shadow: 0 8px #6b6b6b;
  transform: translateY(13px);
}

.skills-logo-container{
  background-color: transparent;
  margin-top:-10px;
  user-select: none;
}

.skill-A-left{
  font-size: 70px;
  font-weight: 900;
  color: #ed4444;
  background-color: transparent;
}

.skill-A-right{
  font-size: 70px;
  font-weight: 900;
  color: #eddc44;
  margin-top: -95px;
  margin-left: 10px;
  background-color: transparent;
}


@keyframes move-skills-left-right {
  0%{
    margin-left:-200px;
  }
  100%{
    margin-left:5000px;
  }
}

.skills-outline-container{
  width:100%;
  overflow: None;
  margin-left: 0px;
  margin-top: -120px;
  margin-bottom: -55px;
  height: 160px;
}

.skills-outline{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 120px;
  font-weight: 900;
  color: #222222;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: -2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, 2px 2px 0 #ffffff;
  animation: move-skills-left-right 0.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.1s);
}

@media screen and (max-width:1740px) and (min-width:950px) {
  .skills-container{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 50px;
  }

  .skills-categories-container{
    width: 100%;
  }

  .skills-title-skill-map-container{
    width: 100%;
    margin-right: 0;
  }

  .skills-skill-map{
    margin-right: 0;
  }
  .skills-category-backend:hover{
    height: 23.5em;
  }
  
  .skills-category-datascience:hover{
    height: 25em;
  }
  .skills-category-web:hover{
    height: 28.5em;
  }
}


@media screen and (max-width:950px) {
  .skills-container{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 50px;
  }

  .skills-categories-container{
    width: 100%;
  }

  .skills-title-skill-map-container{
    width: 100%;
  }

  .skills-category-backend:hover{
    height: 23.5em;
  }
  
  .skills-category-datascience:hover{
    height: 25em;
  }
  .skills-category-web:hover{
    height: 28.5em;
  }

  .skill-button{
    margin-left: 0.3em;
    margin-top: 1.5em;
    font-size: 17px;
    font-weight: 500;
    width: 130px;
    height: 78px;
    text-align: center;
    cursor: pointer;
    background-color: #363636;
    border-radius: 9px;
    box-shadow: 0 21px #6b6b6b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
  }

  .skill-button-active{
    margin-left: 0.3em;
    margin-top: 1.5em;
    font-size: 17px;
    font-weight: 500;
    width: 130px;
    height: 78px;
    text-align: center;
    cursor: pointer;
    background-color: #363636;
    border-radius: 9px;
    box-shadow: 0 8px #6b6b6b;
    transform: translateY(13px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
  }

  .skill-button:active{
    box-shadow: 0 8px #6b6b6b;
    transform: translateY(13px);
  }
  
  .first-in-row1{
    margin-left: 2.4em;
  }
  
  .first-in-row2{
    margin-left: -0.2em;
  }
  
  .space-button{
    width: 500px;
  }
  
  .skills-logo{
    width: 90px;
    margin-top: 1em;
    font-size: 27px;
    font-weight: 500;
    height: 78px;
    text-align: center;
    cursor: pointer;
    background-color: #363636;
    border-radius: 9px;
    box-shadow: 0 21px #6b6b6b;
  }
  
  .skills-logo:active{
    box-shadow: 0 8px #6b6b6b;
    transform: translateY(13px);
  }

  .skills-skill-map{
    width: 820px;
    margin-right: 0;
    margin-top: 50px;
  }

  .skills-title{
    background-color: transparent;
    font-size: 47px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    width: 1em;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid transparent;
    animation: blink .5s step-end infinite alternate 0s;
  }
  
  
  @media (prefers-reduced-motion: no-preference) {
    .skills-title {
      transition: width 2s ease;
    }
  }
  
  .skills-title-transition{
    width: 18.3em;
  }

  @keyframes move-skills-catagories-container {
    0%{
      margin-top:75px;
    }
    100%{
      margin-top: 75px;
    }
  }
  .skills-outline-container{
    width:100%;
    overflow: hidden;
  }
}


/*------------------------------------------------------------------------*/
/*------------------------------- PROJECTS -------------------------------*/
/*------------------------------------------------------------------------*/

.projects-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 350px;
}

.projects-title-image-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-table-scroll-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.project-table-scroll-row-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}

.projects-table-container{
  width: 80%;
  margin-right: 5%;
  height: 725px;
  overflow:auto;
  background-color: transparent;
}

.projects-table-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 104px;
  background-color: transparent;
  border-bottom: #ffffff solid 3px;
  cursor: pointer;
}

.projects-table-item:hover{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 104px;
  background-color: transparent;
  border-bottom: #ffffff solid 3px;
  cursor: pointer;
  background-color: #fff;
}

.projects-table-active-item{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 104px;
  background-color: #b8b8b8;
  border-bottom: #ffffff solid 3px;
  cursor: pointer;
}

.projects-table-item .projects-table-name{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 32px;
  font-weight: 500;
  align-self: center;
  margin-left: -1em;
  transition: margin-left 1s;
  background-color: transparent;
}

.projects-table-active-item .projects-table-name{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 32px;
  font-weight: 500;
  align-self: center;
  margin-left: 0em;
  transition: margin-left 1s;
  background-color: transparent;
}

.projects-moving-name{
  margin-left: 0.3em;
  background-color: transparent;
  color: #fff;
}

.projects-table-item:hover .projects-moving-name{
  color: #000000;
}

.projects-table-category{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #6b6b6b;
  align-self: center;
  background-color: transparent;
}

.projects-scroll-down-container{
  width: 2%;
  background-color: transparent;
  
}

@keyframes bounce-scroll-down {
  0%{
    padding-left: 75px;
  }
  80%{
    padding-left: 75px;
  }
  85%{
    padding-left: 25px;
  }
  90%{
    padding-left: 75px;
  }
  95%{
    padding-left: 25px;
  }
  100%{
    padding-left: 75px;
  }
}

.projects-scroll-down{
  height: fit-content;
  width: 500px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  font-weight: 900;
  transform: rotate(-90deg);
  background-color: transparent;
  margin-top: 450px;
  margin-left: -250px;
  color: #fff;
  padding-left: 75px;
  animation: bounce-scroll-down 5s infinite;
}

.projects-title{
  background-color: transparent;
  font-size: 55px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  width: 1em;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid transparent;
  animation: blink .5s step-end infinite alternate 0s;
}

@media (prefers-reduced-motion: no-preference) {
  .projects-title {
    transition: width 2s ease;
  }
}

.projects-title-transition{
  width: 12.6em;
}


@keyframes move-projects-left-right {
  0%{
    margin-left:-500px;
  }
  100%{
    margin-left:5000px;
  }
}
.projects-outline-container{
  width:100%;
  overflow: None;
  margin-left: 0px;
  margin-top: -120px;
  margin-bottom: -55px;
  height: 160px;
}

.projects-outline{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 120px;
  font-weight: 900;
  
  color: #222222;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
  text-shadow: -2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, 2px 2px 0 #ffffff;
  animation: move-projects-left-right 0.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.1s);
}

@media screen and (max-width:1420px){
  .projects-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-top: 200px;
    margin-right: -0.1%;
  }
  
  .projects-title-image-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -0.1%;
  }
  
  .projects-table-scroll-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin-top: 100px;
    margin-right: -0.1%;
  }
  .projects-outline-container{
    width:100%;
    overflow: hidden;
  }

}


/*-----------------------------------------------------------------------*/
/*------------------------------- CONTACT -------------------------------*/
/*-----------------------------------------------------------------------*/

.contact-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 250px;
}

.contact-title-form-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.contact-map-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.contact-title{
  background-color: transparent;
  font-size: 55px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  width: 1em;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid transparent;
  animation: blink .5s step-end infinite alternate 0s;
}

@media (prefers-reduced-motion: no-preference) {
  .contact-title {
    transition: width 2s ease;
  }
}

.contact-title-transition{
  width: 10.6em;
}

@keyframes move-contact-left-right {
  0%{
    margin-left:-1000px;
  }
  100%{
    margin-left:5000px;
  }
}

.contact-outline-container{
  width:100%;
  overflow: None;
  margin-left: 0px;
  margin-top: -120px;
  margin-bottom: -55px;
  height: 160px;
}

.contact-outline{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 120px;
  font-weight: 900;
  color: #222222;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
  text-shadow: -2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, 2px 2px 0 #ffffff;
  animation: move-contact-left-right 0.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.1s);
}

.contact-form-container{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.contact-name-email-container{
  width: 100%;
}

.contact-name{
  width: 49%;
  border: none;
  font-size: 32px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  color: #fff;
  background-color: #363636;
  height: 70px;
  padding-left: 15px;
  text-decoration: none;
}

.contact-name:focus{
  outline: none;
}

.contact-email{
  width:49%;
  margin-left: 2%;
  border: none;
  font-size: 32px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  color: #fff;
  background-color: #363636;
  height: 70px;
  padding-left: 15px;
}

.contact-email:focus{
  outline: none;
}

.contact-subject{
  margin-top: 16px;
  border: none;
  font-size: 32px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  color: #fff;
  background-color: #363636;
  height: 70px;
  padding-left: 15px;
}

.contact-subject:focus{
  outline: none;
}

.contact-message{
  margin-top: 16px;
  border: none;
  font-size: 32px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  color: #fff;
  background-color: #363636;
  height: 224px;
  width: 100%;
  padding-left: 15px;
  padding-top: 15px;
  overflow:scroll;
  white-space:wrap;
}

.contact-message:focus{
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6b6b6b;
  opacity: 1; /* Firefox */
  font-weight: 600;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #6b6b6b;
  font-weight: 600;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #6b6b6b;
  font-weight: 600;
}



.contact-submit {
  position: relative;
  display:block;
  height: 76px;
  width: 327px;
  margin-top: 15px;
  align-self: flex-end;
  font-size: 32px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  color: #eddc44;
  border: 2px #eddc44 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}


.contact-submit:after{
  content:"SUBMIT";
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  text-align:center;
  -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}

.contact-submit:before {
  content:"SEND IT →";
  height:100%;
  width:100%;
  position:absolute;
  color:#ed4444;
  left:-100%;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}

.contact-submit:hover{
  background:#ed4444;
  border-color: #ed4444;
}

.contact-submit:hover:before{
  left:0;
  opacity:1;
  color:#fff;
}
.contact-submit:hover:after{
  left:100%;
  opacity:0;
}

.contact-map{
  border-radius: 100%;
  transition: 0.4s;
  background-color: transparent;
}

.contact-map:hover{
  border-radius: 0;
  transition: 0.4s;
}

@media screen and (max-width:1130px) {
  .contact-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-top: 250px;
    margin-right: -0.1%;
  }
  
  .contact-title-form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin-right: -0.1%;
  }
  
  .contact-map-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin-top: 100px;
    margin-right: -0.1%;
  }
  .contact-outline-container{
    width:100%;
    overflow: hidden;
  }
}